<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/layout.css">
    <title>VNPT Ninh Thuan</title>
</head>
<body>
    <h2>Chỉ tiêu chức năng, Đơn vị trực thuộc đăng ký thực hiện sáng kiến năm 2022</h2>
    <h5>Tên Đơn Vị</h5>
    <input type="text" name="don vi" id="donvi">
    <br/>
    <h5>Chỉ Tiêu Quý I</h5>
    <input type="text" name="don vi" id="quy1">
    <br/>
    <h5>Chỉ Tiêu Quý II</h5>
    <input type="text" name="don vi" id="quy2">
    <br/>
    <h5>Chỉ Tiêu Quý III</h5>
    <input type="text" name="don vi" id="quy3">
    <br/>
    <h5>Chỉ Tiêu Quý IV</h5>
    <input type="text" name="don vi" id="quy4">
    <br/>
    <h5>Chỉ Tiêu Cả Năm</h5>
    <input type="text" name="don vi" id="canam">
    <br/>
    <br/>
    <input type="submit" value="Thêm Mới">
</body>
</html>